/* .container {
    display: flex;
    flex-direction: row;
}

.container .input_container {
    width: 100%;
    margin-top: 10rem;
}

.container .input_container .form_container .login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}

input.input_email {
    width: 458px;
    height: 71px;
    border: 1px solid #1C1C1C;
    border-radius: 5px;
    padding-left: 30px;
}

input.input_password {
    width: 458px;
    height: 71px;
    border: 1px solid #1C1C1C;
    border-radius: 5px;
    padding-left: 30px;
}

button.show_btn {
    background: none;
    border: none;
    color: #6A6A6A;
    font-size: 14px;
}

div.password_container {
    position: relative;
}

span.show_password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6A6A6A;
}

input.submit_button {
    width: 488px;
    height: 60px;
    background: #1C1C1C;
    border-radius: 5px;
    color: white;
}

 .forgot_password {
    width: 488px;
    text-decoration: none;
    color: black; 
}

img.logo {
    width: auto;
}

p.forgot_text {
    text-align: right;
}

@media screen and (max-width: 1256px) {
    .container {
        display: block;
    }
    .input_container {
        align-: center;
    }
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg_container {
    width: 55%;
    height: 100%;
    background-image: url("../../assets/login_image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.input_container {
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
}

.form-container{
    max-width: 488px;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.password {
    max-width: 100%;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
}

.show_password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6a6a6a;
}

.password_container {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.submit_button:hover {
    background-color: #333333 !important;
}

.forgot_password {
    width: 100%;
    text-align: right;
}

.forgot_password a.forgot-password-link {
    text-decoration: none;
    color: #000;
}

