.eat {
  color: #34a853;
}
.tophero-container {
  background-image: url(https://res.cloudinary.com/neemathec/image/upload/v1646078000/decameal/bg_wv07v6.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border: 1px solid;
}
.tophero-container:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #34a853;
  opacity: 0.13;
}

.parent-container {
  color: #ffffff;
  margin: 2rem;
  height: 100%;
  font-style: Poppins;
  font-weight: 700;
  font-size: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.paragraph-text {
  padding: 0;
  margin: 0;
  font-weight: 450;
  font-size: 24px;
  line-height: 22.8px;
  border-top: 100px;
  max-width: 550px;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .parent-container {
    font-size: 60px;
  }
  .paragraph-text {
    font-size: 18px;
  }
}
@media only screen and (min-width: 700px) {
  .tophero-container {
    height: 90vh;
  }
  .parent-container {
    font-size: 96px;
  }
    .paragraph-text {
    font-size: 24px;
  }
}

@media only screen and (max-width: 300px) {
  .button {
    font-size: 14px;
    background-size: 10px;
  }
}
